<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="register-user">
        <% if (locals.errors) {%>
            <ul>
              <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
              <% }); %>
            </ul>
          <% } %>
        <form action="/sign-up" method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
    
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
    
            <button type="submit">Register</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>